/*--------------------------------------- Body --------------------------------------- */

body {
  background-color: rgb(255, 247, 221);
  overflow-x: hidden;
}

.modal-body,
.contact2-form,
.wrap-contact2,
.modal-content,
.container-contact2 {
  background-color: rgb(255, 247, 221);
  color: rgb(255, 247, 221);
}

/*--------------------------------------- Index Page --------------------------------------- */
.diceroll-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);
}

.gamelinks {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-sm-auto {
  padding: 0px 5em 0px 5em;
}

.col-sm {
  border: 1.5px solid black;
  padding: 1.5em 0 1.5em 0;
  margin: 0 5em 0 5em;
}

.col-sm h2 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
}

a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: black;
}

/*------- Shadow Effect ------- */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*--------------------------------------- Footer --------------------------------------- */
.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar h5 {
  float: left;
  display: block;
  text-align: center;
  padding: 1vw 5vw;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: grey;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

/*--------------------------------------- D&D Dice Roller --------------------------------------- */
.col-md-4 {
  border: 3px dotted black;
}

.maincontent {
  min-height: 90vh;
}

.dicebox,
.dicebutton {
  border: 3px dotted black;
  min-height: 11vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
}

.dicebutton {
  min-height: 5vh;
  border: 0px;
}

#allthedice,
#selected,
#results {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#historicRolls {
  max-height: 89vh;
  overflow-y: auto;
  font-family: "Roboto Mono", monospace;
}

#hideHistory {
  display: none;
}

#allthedice img,
#selected img {
  max-height: 6em;
  width: 6em;
}

.ffgdice img,
.ffgselected img,
.ffgresults img {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#results div {
  width: 3em;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

#results img {
  width: 2em;
}

#historicRolls img {
  width: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 2em;
}

#restart,
#roller {
  background: -webkit-linear-gradient(
    -135deg,
    rgb(224, 231, 255),
    rgb(230, 221, 255),
    rgb(224, 231, 255),
    rgb(230, 221, 255)
  );
  background: -o-linear-gradient(
    -135deg,
    rgb(224, 231, 255),
    rgb(230, 221, 255),
    rgb(224, 231, 255),
    rgb(230, 221, 255)
  );
  background: -moz-linear-gradient(
    -135deg,
    rgb(224, 231, 255),
    rgb(230, 221, 255),
    rgb(224, 231, 255),
    rgb(230, 221, 255)
  );
  background: linear-gradient(
    -135deg,
    rgb(224, 231, 255),
    rgb(230, 221, 255),
    rgb(224, 231, 255),
    rgb(230, 221, 255)
  );
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.button {
  min-height: 5vh;
  border-color: rgb(230, 221, 255);
}

.btn.btn-secondary,
.btn.btn-primary {
  color: black;
  font-family: "Exo 2", sans-serif;
  background-color: rgb(221, 229, 255);
  border-color: rgb(230, 221, 255);
  -webkit-box-shadow: none;
}

.btn.btn-secondary.focus,
.btn.btn-secondary:focus,
.btn.btn-primary.focus,
.btn.btn-primary:focus {
  color: black;
  background-color: rgb(221, 229, 255);
  border-color: rgb(230, 221, 255);
}

.btn.btn-secondary:hover,
.btn.btn-primary:hover {
  color: black;
  background-color: rgb(221, 229, 255);
  border-color: rgb(230, 221, 255);
}

.btn.btn-secondary.active,
.btn.btn-secondary:active,
.btn.btn-primary.active,
.btn.btn-primary:active {
  color: black;
  background-color: rgb(230, 221, 255);
  border-color: rgb(230, 221, 255);
}

.btn.btn-secondary.active.focus,
.btn.btn-secondary.active:focus,
.btn.btn-secondary.active:hover,
.btn.btn-secondary:active.focus,
.btn.btn-secondary:active:focus,
.btn.btn-secondary:active:hover,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
  color: #fff;
  background-color: rgb(230, 221, 255);
  border-color: rgb(224, 231, 255);
  outline: none;
  box-shadow: 0 0 0 0.2rem grey;
}

.rollingPurpose {
  position: relative;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
}

@media only screen and (max-width: 760px) {
  #historicRolls {
    z-index: 2;
    position: absolute;
    background-color: rgb(255, 248, 230);
    border: 2px dotted black;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  #hideHistory {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    z-index: 2;
  }

  .dicebox {
    width: 80%;
    margin-bottom: 0em;
    min-height: 100px;
  }

  .ffgdice,
  .ffgselected,
  .ffgresults {
    z-index: 1;
    position: fixed;
  }

  .chooseDice {
    margin-top: 8vh;
    height: 195px;
  }

  .dicebutton {
    display: flex;
    flex-direction: row;
  }

  #allthedice div,
  #selected div {
    height: auto;
    width: 4em;
  }

  #results div {
    width: 1.9em;
  }

  #allthedice img,
  #selected img {
    transform: scale(0.6) translateX(-5vw);
    padding: 0px;
  }

  #roller {
    margin-bottom: 30px;
    width: 35vw;
    margin-left: 10vw;
    margin-right: 5vw;
    height: 4em;
  }

  #restart {
    margin-top: 0px;
    margin-bottom: 30px;
    width: 35vw;
    margin-left: 5vw;
    margin-right: 10vw;
    height: 4em;
  }

  .navbar .btn {
    width: 20vw;
    font-size: 0.7em;
    height: 4em;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1023px) {
  .col-md-4,
  .col-md-8 {
    max-height: 90vh;
    max-width: 100%;
    padding: 0px;
  }

  .dicebox {
    margin-bottom: -0.5em;
  }

  .maincontent label {
    margin-top: 1rem;
  }

  #rollpurpose {
    margin-top: 1em;
  }

  .dicebutton {
    display: flex;
    flex-direction: row;
  }
  #roller {
    margin-top: -15px;
    margin-bottom: 20px;
    width: 20vw;
    margin-left: 10vw;
    margin-right: 5vw;
    height: 4em;
  }

  #restart {
    margin-top: -15px;
    margin-bottom: 20px;
    width: 20vw;
    margin-left: 5vw;
    margin-right: 10vw;
    height: 4em;
    padding: 8px 8px;
  }

  #allthedice div,
  #selected div,
  #results div {
    height: 45%;
    width: 25%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

@media only screen and (max-height: 825px) { 
  #history {
    height: 92vh;
  }
  
  .dicebutton {
    display: flex;
    flex-direction: row;
  }
  
  #roller {
    margin-top: -15px;
    margin-bottom: 20px;
    margin-right: 1vw;
  }

  #restart {
    margin-top: -15px;
    margin-bottom: 20px;
    margin-left: 1vw;
    padding: 8px 8px;
  }
}

@media only screen and (max-height: 800px) {
  #allthedice img,
  #selected img {
    height: 130%;
    width: auto;
    padding: 0px;
  }

  #allthedice div,
  #selected div {
    height: 40%;
    width: 20%;
  }

  .chooseDice,
  .ffgdice {
    height: 150px;
    max-height: 150px;
  }

  #selected div {
    width: 55px;
    height: 60px;
    margin-bottom: 0.5em;
  }

  #results div {
    width: 1.7em;
  }

  #roller {
    margin-top: -15px;
    margin-bottom: 20px;
    width: 35vw;
    margin-left: 10vw;
    margin-right: 5vw;
    height: 2.5em;
  }

  #restart {
    margin-top: -15px;
    margin-bottom: 20px;
    width: 35vw;
    margin-left: 5vw;
    margin-right: 10vw;
    height: 2.5em;
    padding: 8px 8px;
  }

  .btn.btn-primary {
    padding: 2px 4px;
  }

  .btn.btn-secondary {
    font-size: 15px;
  }

  .navbar .btn {
    width: 20vw;
    font-size: 0.7em;
    height: 3.25em;
  }
}

@media only screen and (max-width: 350px) {
  #roller,
  #restart {
    height: 3em;
    font-size: 11px;
  }

  #allthedice img,
  #selected img {
    height: 100%;
  }

  #historicRolls img {
    width: 1.3em;
  }

  .dicebox,
  .ffgselected {
    min-height: 80px;
  }

  .chooseDice {
    height: 140px;
  }

  .rollingPurpose label {
    font-size: 15px;
  }
}

/*--------------------------------------- Modal Boxes --------------------------------------- */
#modalBox {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150%;
  height: 88vh;
}

.modal-text {
  color: black;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
}

.modal-sub {
  padding: 1em 1em 1em 1em;
}
/*----------------------------Where to Play--------------------------*/
#map {
  position: absolute;
  float: left;
  width: 100%;
  height: 60vh;
}

#whereEdge button {
  transform: translateY(63vh);
}
/*----------------------------How to Use----------------------------*/
.usage {
  padding-top: 1em;
  padding-bottom: 1em;
}

.usage li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/*----------------------------Contact Form--------------------------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.container-contact2 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-contact2 {
  width: 790px;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}

.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;
  background: rgb(255, 247, 221);
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: rgba(219, 21, 99, 1);
  background: -webkit-linear-gradient(
    45deg,
    rgb(224, 231, 255),
    rgb(230, 221, 255)
  );
  background: -o-linear-gradient(45deg, rgb(224, 231, 255), rgb(230, 221, 255));
  background: -moz-linear-gradient(
    45deg,
    rgb(224, 231, 255),
    rgb(230, 221, 255)
  );
  background: linear-gradient(45deg, rgb(224, 231, 255), rgb(230, 221, 255));
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  background: rgb(255, 247, 221);
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: rgba(219, 21, 99, 1);
  background: -webkit-linear-gradient(
    -135deg,
    rgb(224, 231, 255),
    rgb(230, 221, 255),
    rgb(224, 231, 255),
    rgb(230, 221, 255)
  );
  background: -o-linear-gradient(
    -135deg,
    rgb(224, 231, 255),
    rgb(230, 221, 255),
    rgb(224, 231, 255),
    rgb(230, 221, 255)
  );
  background: -moz-linear-gradient(
    -135deg,
    rgb(224, 231, 255),
    rgb(230, 221, 255),
    rgb(224, 231, 255),
    rgb(230, 221, 255)
  );
  background: linear-gradient(
    -135deg,
    rgb(224, 231, 255),
    rgb(230, 221, 255),
    rgb(224, 231, 255),
    rgb(230, 221, 255)
  );
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  font-size: 16px;
  color: black;
  line-height: 1.2;
}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid rgb(221, 229, 255);
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;
  color: rgb(224, 231, 255);
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
  z-index: 2;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: rgb(221, 229, 255);
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  z-index: 2;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

/*----------------------------Modal Box Responsivity--------------------------*/
@media only screen and (max-width: 960px) {
  .diceroll-logo img {
    width: 100vw;
    transform: translateY(-30%);
  }

  .diceroll-logo {
    position: absolute;
  }
  .gamelinks .row {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .col-sm {
    width: 20em;
    margin: 0 1em 0 1em;
  }
  .centerbox {
    display: none;
  }
  .gamelinks h2 {
    font-weight: 500;
    font-size: 150%;
  }
}
@media only screen and (max-height: 825px) {
  #contactModal {
    height: 100%;
  }
  #contactForm {
    height: 55vh;
  }
  .wrap-contact2 {
    padding: 20px 15px 110px 15px;
  }
  .contact2-form-title {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .wrap-contact2 {
    padding: 20px 15px 110px 15px;
  }
  #modalBox {
    width: 90%;
    height: 95vh;
  }
  #map {
    height: 65vh;
  }
  .modal-text {
    font-weight: 600;
    font-size: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .container-contact2 {
    padding: 0px;
  }
  .contact2-form-btn {
    height: 40px;
  }

  #map {
    height: 60vh;
  }

  #whereEdge button {
    transform: translateY(58vh);
  }

  #howModal {
    height: 95vh;
  }

  #howModal li {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
